
*{
    padding: 0px;
    margin: 0px;
}

html{
    font-size: 62,5%;
    scroll-behavior: smooth;
}

header{
    background-color: rgb(24, 24, 24, 0.8);
    width: 100%;
    height: 120px;
    position: fixed;
    z-index: 2;
}

.header-content{
    width: 50%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.logo-content{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}

.logo-content img{
    width: 150px;
    margin-left: 50px;
    height: auto;
}

.items-desktop{
    display: flex;
}

.items-desktop li{
    list-style: none;
    margin-left: 25px;
    margin-right: 25px;
    font-size: 1.6rem;
    font-family: 'Pixelify Sans', cursive;
    font-family: 'Teko', sans-serif;
    transition: 250ms;
}

.items-desktop li:hover{
    color: rgb(199, 48, 51);
    text-shadow: 2px 2px rgb(24, 94, 192);
    scale: 1.08;
}

a{
    text-decoration: none;
    color: white;
}

.items-mobile{
    display: none;
    position: absolute;
    width: 100%;
    height: 90vh;
    top: 120px;
    right: -100%;
    list-style: none;  
    background-color: rgb(81, 81, 81, 0.4); 
    text-align: center;
    font-size: 1.8rem;
    font-family: 'Pixelify Sans', cursive;
    font-family: 'Teko', sans-serif;
    padding-top: 50px;
    transition: 500ms;
}

.items-mobile li{
    padding-top: 50px;
}

.nav-change{
    right: 0px;
}

.menu-button, .menu-X-button{
    display: none;
    position: absolute;
    width: 40px;
    height: 40px;
    right: 40px;
    top: 40px;
    cursor: pointer;
}

.menu-X-button{
    display: none;
}





/*Body home*/

body{
    background-color: rgb(39, 39, 39);
    z-index: 1;
}

.banner-container{
    width: 100%;
    height: 60vh;
    background-image: url(../imgs/banner\ gamer.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-content h1{
    color: rgb(255, 255, 255);
    font-size: 6rem;
    font-family: 'Pixelify Sans', sans-serif;
    font-family: 'Teko', sans-serif;
    line-height: 80px;
}


/*Slider container*/

.slider-container{
    position: relative;
    width: 100%;
    height: 80vh;
    margin-top: 100px;
    margin-bottom: 100px;
}

.slider-txt{
    width: 60%;
    margin: 0 auto;
    color: white;
    font-size: 1.4rem;
    font-family: 'Pixelify Sans', sans-serif;
    font-family: 'Teko', sans-serif;
}

.slider-txt span{
    background-color: rgb(199, 48, 51);
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 100%;
    margin-right: 10px;
}


.slider{
    position: absolute;
    width: 60%;
    height: 600px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    margin: auto;
    background-color: white;
}